a {
  color: black;
}
p {
  text-align: justify;
}
.glass {
  display: grid;
  height: unset;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
margin: 5rem 0;
padding-top: 5rem;
}
.bio {
  grid-column: 2/3;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  margin: 1.2rem 5rem 0 5rem;
}
.image img {
  margin: 0;
}
.bubble::before {
  right: 50%;
  top: 114px;
transform: rotate(-133deg) skew(-25deg) translateY(15.6666666667px);
}
.card.card-bio .card-info, .card.card-bio .card-detail {
  display: flex;
}
.skills {
  grid-column: 1/2;
  grid-row: 1/5;
  margin: 2rem 5rem 0 5rem;
  padding: 3rem;
}
.skills > div {
  margin: 0.5rem 0;
}
.skills .progress-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress {
  width: 90%;
}
.progress-wrapper span {
  color: #86d85b;
}
.react .progress-wrapper span {
  color: #90e8fd;
}
.typescript .progress-wrapper span {
  color: #3979c9;
}
.next .progress-wrapper span {
  color: #65dfc9;
}
.graphql .progress-wrapper span {
  color: #dd3bad;
}
.lambda .progress-wrapper span {
  color: #ef7f2a;
}
.nginx .progress-wrapper span {
  color: #3fbb65;
}
.bash .progress-wrapper span {
  color: #282f37;
}
.postgress .progress-wrapper span {
  color: #356093;
}
.mysql .progress-wrapper span {
  color: #00536c;
}
.info {
  height: 100%;
  width: 100%;
  justify-content: unset;
grid-row: 5/9;
grid-column: 1/3;
margin: 0;
}
.experience {
  margin: 5rem;
  justify-content: unset;
}
.card {
  flex-direction: column;
  padding: 2rem 1rem;
}
.card-info {
  width: unset;
}
.card-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem  1.5rem;
  grid-gap: 5rem;
}
.card-detail-images {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}
.card-detail-images h4 {
  text-align: center;
  grid-column: 1/6;
}
.card-detail-images .card-image img {
  width: 50px;
}
.card-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.educ {
  margin: 0 5rem 5rem;
}
.educ .card-info h2 {
  font-size: calc(10px + (32 - 20) * ((100vw - 300px) / (1920 - 300)));
}
