@media only screen and (max-width: 1500px) {
  .info {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 2rem;
  }
  .experience, .education {
    margin-top: 2vh;
    justify-content: unset;
  }
  .experience {
    grid-column: 1/2;
  }
  .education {
    grid-column: 2/3;
  }
  .education .cards {
    flex-direction: column;
    margin-bottom: auto;
  }
  .card {
    min-width: 100%;
  }
  .card-info {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
    .glass {
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 3rem 0;
    }

    .intro {
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-column: 1/3;
    }
    .image {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    .image img {
        margin: 0!important;
    }
    .bubble {
        width: 50%;
        top: 30rem;
        right: -36%;
    }
    .bubble::before {
        display: none;
    }

    .info {
        grid-column: 1/3;
        grid-row: 5/9;
        margin: 1rem 5rem;
    }
    .heading {
        margin-top: 2rem;
    }


    .skills {
        grid-row: 2/5;
        grid-column: 1/3;
        padding: 3rem 20rem 3rem 3rem;
    }
    .skills > div {
        margin: 0.4rem 0;
    }
    .icon {
        width: 40px;
    }
}

@media only screen and (max-width: 950px) {
    .bubble {
        width: 55%;
        top: 30rem;
        right: calc(-30% + 2vw);
    }
    .experience, .education {
      margin-top: 0;
      justify-content: space-evenly;
    }
    .info {
      display: flex;
    }
    .cards {
        margin: 0 10vw;
    }
    .card-info {
        flex-direction: column;
    }
    .card-info > * {
        padding: 1vh 0;
    }
}

@media only screen and (max-width: 800px) {
    .education .cards {
        flex-direction: column;
    }
    .bubble {
        right: calc(-30% + 8vw);
        padding: 1.5rem;
    }
    .cards {
        margin: 0 7vw;
    }
}

@media only screen and (max-width: 650px) {
    .intro {
        margin-bottom: 3rem;
    }
    .image {
        grid-row: 3/4;
    }
    .image img {
        margin-bottom: 2rem!important;
    }
    .bio {
        grid-column: 1/3;
        grid-row: 1/4;
        margin: 0 0 0 2rem;
    }
    .bio h1 {
        padding: 2rem 0;
    }
    .bubble {
        top: unset;
        right: unset;
        left: 3rem;
        margin: unset;
        font-size: 1rem;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .bubble::before {
        display: block;
        top: unset;
        bottom: -1.45rem;
        right: 3rem;
        transform: rotate(133deg) skew(25deg) translateY(16.66666667px);
    }
    .skills {
        padding: 3rem;
    }
    .icon {
        width: 25px;
    }
    .cards {
        margin: 0;
    }
}

@media only screen and (max-width: 550px) {
    .intro {
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .image {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .image img {
        margin-top: 15vh!important;
    }
    .bio {
        grid-column: 1/2;
        grid-template-columns: auto;
        grid-gap: 35vh;
    }
    .bio h1 {
        padding: 0;
    }
    .bubble {
        margin: 1rem 0;
    }
    .skills {
        grid-column: 1/2;
        grid-row: 4/9;
    }

    .info {
        grid-row: 9/12;
        grid-column: 1/2;
        margin: 1rem 2rem;
    }
}

@media only screen and (max-width: 470px) {
    .intro {
        margin-bottom: 1rem;
    }
    .bio {
        margin: 0 2rem;
    }
    .bubble {
        grid-column: 1/2;
        width: 100%;
        left: unset;
    }
    .bubble::before {
        right: 40%;
        transform: rotate(133deg) skew(25deg) translateY(22.066667px);
    }
    .education {
        margin-bottom: 5vh;
    }
    .portfolio {
        position: relative;
        right: 0;
        top: 0;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio::after {
        width: 27rem;
        top: 1%;
        right: -2rem;
        transform: unset;
    }
    .portfolio span {
        transform: rotate(0) translateX(-27px);
        top: unset;
        right: unset;
        bottom: -5%;
    }
    .portfolio i {
        padding-bottom: 1vh;
    }
}

@media only screen and (max-width: 320px) {
    .bubble::before {
        transform: rotate(133deg) skew(25deg) translateY(21.166667px);
    }
}
